* {
    margin: 0;
    padding: 0;
}

body {
    background: url('img/bg-pattern.jpg');
    background-repeat: repeat;
}

.biodata {
    margin: 8px;
    background-color: rgb(33, 102, 175);
    width: calc(100%-16px);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}

.profile-pic {
    width: 400px;      /* atur ukuran gambar */
    height: 400px;     /* ukuran tinggi sama dengan lebar supaya bulat */
    object-fit: cover; /* supaya gambar tetap proporsional, bagian yang keluar dipotong */
    border-radius: 50%; /* ini bikin bentuk lingkaran */
    display: block; /* optional, supaya mudah diatur */
    margin: 20px;
}

.perkenalan-diri-section {
    margin: 8px;
    display: flex;
    align-items: center;
}
